/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Droid Sans';
}
.options {
  margin-left: 30px;
  margin-top: 10px;
}

.itemButton{
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.foodform{
  text-align: left;
}

.required:after {
  content:" *";
  color: red;
}
